@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --accent-color: #96c9d0;
    --background-color: #96c9d0;
    --border-color: #96c9d0;
    --text-color: black;
    color: var(--text-color);
    font-family: 'DotGothic16', sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1100px;
    margin: auto;
}

img {
    display: block;
    width: 100%;
}