.header {
    background-color: var(--accent-color);
    padding: 5px;
}

.header-banner__h1,
.header-nav__logo {
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.header-nav__menu {
    display: flex;
    flex-direction: column;
}

.header-nav__menu-item {
    color: var(--main-color);
    text-decoration: none;
}

.header-nav__menu-item:hover {
    text-decoration: underline;
}

@media (min-width: 500px) {
    .header-nav {
        display: flex;
    }

    .header-nav__menu {
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

.header-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/baby-yoda.svg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-banner__h1 {
    color: var(--accent-color);
}