.product-card {
    border: 1px solid var(--accent-color);
    padding: 5px;
}

.product-card img {
    margin: auto;
    width: 90%;
}

@media (min-width: 600px) {
    .products__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}

@media (min-width: 900px) {
    .products__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .products__list {
        grid-template-columns: repeat(4, 1fr);
    }
}
